node_modules
dist
.nyc_output
coverage
packages/core/README.md
*.tsbuildinfo
build
contracts/compiled
packages/target-truffle-v4-test/contracts
packages/target-truffle-v5-test/contracts
packages/typechain/README.md
examples/web3-v1/types
examples/truffle-v4/types
examples/truffle-v4/migrations
examples/truffle-v5/types
examples/truffle-v5/migrations
# examples/ethers-v4/types
examples/ethers-v5/types
