node_modules
dist
test/integration/abis
test-tmp
.nyc_output
coverage
test/integration/targets/legacy/wrappers
test/integration/targets/truffle/@types
test/integration/targets/truffle/build
test/integration/targets/web3-v1/types/web3-contracts
test/integration/targets/ethers/types/ethers-contracts
test/package-test/types
packages/core/README.md
