{
  "reporter": [
    "lcov",
    "text"
  ],
  "include": [
    "lib/**/*.ts",
    "runtime/**/*.ts"
  ],
  "exclude": [
    "test/**/*.spec.ts",
    "**/*.d.ts"
  ],
  "extension": [
    ".ts"
  ]
}
